html, body{
    font-family: Arial, sans-serif;
}

header{
    background-color: #1D00D2;
    height: 300px;
    padding: 100px;
}

h1{
    font-size: 90px;
    color:white;
}

header img{
    border-radius: 200px;
    width: 250px;
    height: 250px;
    border: 15px solid #000000;
    position: absolute;
    top: 150px;
    margin: 0 auto;
    left: 0 ;
    right: 0;
}

.character-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10%;
}

.character-image-container {
    flex: 1;
    padding: 2rem;
    text-align: center;
}

.character-image {
    width: 200px; 
    height: 500px;
}

.character-details {
    flex: 1000;
    padding: 0rem;
}

.character-heading {
    font-size: 2rem;
    color: red;
    margin-bottom: 1rem;
}

.character-description {
    font-size: 1.5rem;
    text-align: justify;
    margin-top: 0px;
    margin-bottom: 1.4rem;
    font-family: 'New Super Mario Font U', sans-serif;
                                                
}

.characteristics-list {
    font-size: 1.5rem;
    list-style-type: disc;
    padding-left: 20px;
    font-family: 'New Super Mario Font U', sans-serif;
}

.center{
    display: flex;
    position: absolute;
    margin: 0 auto;
    left: 0 ;
    right: 0;
    top: 400px;
    height: 50px;
    width: 300px;
}

.images{
    width: 190px; 
    height: 70px;
}

.images1{
  width: 190px; 
  height: 70px;
}

.images2{
  width: 340px; 
  height: 70px;
}

.images3{
  width: 240px; 
  height: 50px;
  padding-bottom: 20px;
}

.gif{
  height: 50px;
  width: 50px;
}
.pt-1{
  font-family: 'Homoarakhn', sans-serif;
}
.pt-2{
  font-family: 'SpongeBob Font Condensed', sans-serif;
  font-family: 'SpongeBob Font Wide', sans-serif;

}
.pt-3{
  font-family: 'Black Clover Font', sans-serif;
}

.content{
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 20px;

}

img.big-image{
    text-align: center;
    max-width: 100%;
    border-radius: 50px;
    margin: 0 auto;
    left: 0 ;
    right: 0;
}

p.caption{
    font-size: 16px;
    color: rgb(169, 169, 169);
    font-style: italic;
    text-align: center;
}

ul{
    list-style-image: url('../images/block.gif');
    padding: 0;
    margin: 0;
}

a{
    color: #204573;
    text-decoration: none;
}

footer{
    margin-top: -8px;
    padding: 40px 20px;
    background-color: #1D00D2;
    color: aliceblue;
}

footer ul{
    text-align: center;
}

footer ul li{
    display: inline-block;
    margin: 0 5px;
}

.friends {
    padding: 10px;
    border-radius: 10px;
    margin-top: 10px;
  }
  .friends .row {
    display: flex;
    justify-content: space-around;
  }
  .friends .row .col-lg-4 {
    display: flex;
    justify-content: center;
  }
  
  .card {
    background-color: #000000;
    position: relative;
    padding: 0;
    margin: 0 !important;
    border-radius: 20px;
    overflow: hidden;
    min-width: 130px;
    max-width: 220px;
    max-height: 340px;
    cursor: pointer;
    border: none;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  }
  
  .card .card-image {
    width: 100%;
    max-height: 340px;
  }
  
  .card .card-image img {
    filter: grayscale(100%) opacity(60%);
    max-height: 340px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    object-fit: cover;
  }
  .card .card-image img:hover {
    filter: none;
  }
  
  .card .card-content {
    position: absolute;
    bottom: -180px;
    color: #fff;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(15px);
    min-height: 140px;
    width: 100%;
    transition: bottom 0.4s ease-in;
    box-shadow: 0 -10px 10px rgba(255, 255, 255, 0.1);
    border-top: 1px solid rgba(255, 255, 255, 0.2);
  }
  
  .card:hover .card-content {
    bottom: 0px;
  }
  
  .card:hover .card-content h4,
  .card:hover .card-content h5 {
    transform: translateY(10px);
    opacity: 1;
  }
  
  .card .card-content h4,
  .card .card-content h5 {
    font-size: 1.1rem;
    text-transform: uppercase;
    letter-spacing: 3px;
    text-align: center;
    transition: 0.8s;
    font-weight: 500;
    opacity: 0;
    transform: translateY(-40px);
    transition-delay: 0.2s;
  }
  
  .card .card-content h5 {
    transition: 0.5s;
    font-weight: 200;
    font-size: 0.8rem;
    letter-spacing: 2px;
  }
  
  .card .card-content .social-icons {
    list-style: none;
    padding: 0;
  }
  
  .card .card-content .social-icons li {
    margin: 10px;
    transition: 0.5s;
    transition-delay: calc(0.15s * var(--i));
    transform: translateY(50px);
  }
  
  .card:hover .card-content .social-icons li {
    transform: translateY(20px);
  }
  
  .card .card-content .social-icons li a {
    color: #fff;
  }
  
  .card .card-content .social-icons li a span {
    font-size: 1.3rem;
  }
  
  @media only screen and (max-width: 1000px) {
    .images{
      width: 90px;
      height: 30px;
    }
    .images1{
      width: 90px;
      height: 30px;
    }
    .images2{
      width: 190px;
      height: 30px;
    }
    .images3 {
      display: flex;
      margin: 0 auto;
      left: 0 ;
      right: 0;
    }
    .gif{
      display: flex;
    }
    .character-image {
      width: 100px;
      height: 300px;
  }
    ul {
      list-style-image: url('../images/blocks.gif');
      padding: 0;
      margin: 0;
    }
    footer{
      margin-top: -5px;
      padding: 40px 20px;
      background-color: #1D00D2;
      color: aliceblue;
  }
  }

  @media (max-width: 1200px) {
    .header {
        padding: 5rem 0;
        width: 100%;
    }
    
    .header-image {
        width: 145px;
        border: 5px solid black;
    }

    .header-title {
        font-size: 2rem;
    }

    .character-section {
        flex-direction: column;
        align-items: center;
        padding: 0 5%;
    }

    .character-image {
        width: 300px;
        height: 300px;
    }

    .character-details {
        padding: 1rem;
    }

    .character-heading {
        font-size: 1.5rem;
    }

    .character-description {
        font-size: 1rem;
    }

    .characteristics-list {
        font-size: 1rem;
    }

    .image-section {
        padding: 0.5rem 0;
    }
    .gif{
      display: flex;
    }
    .character-image {
      width: 200px;
      height: 300px;
  }
}

@media (max-width: 300px) {
  .header {
      padding: 5rem 0;
      width: 100%;
  }
  
  .header-image {
      width: 145px;
      border: 5px solid black;
  }

  .header-title {
      font-size: 2rem;
  }

  .character-section {
      flex-direction: column;
      align-items: center;
      padding: 0 5%;
  }

  .character-image {
      width: 100px;
      height: 300px;
  }

  .character-details {
      padding: 1rem;
  }

  .character-heading {
      font-size: 1.5rem;
  }

  .character-description {
      font-size: 1rem;
  }

  .characteristics-list {
      font-size: 1rem;
  }

  .image-section {
      padding: 0.5rem 0;
  }
  .head{
    height: 200px;
    width: 200px;
  }
  .center{
    display: flex;
    position: absolute;
    margin: 0 auto;
    left: 0 ;
    right: 0;
    top: 350px;
    height: 50px;
    width: 200px;
}
.gif{
  display: flex;
}
.images3 {
  display: flex;
  margin: 0 auto;
  left: 0 ;
  right: 0;
  height: 30px;
    width: 200px;
}
}

@media (max-width: 700px) {
  .friends .row {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .friends a {
    margin-top: 20px;
  }
  .character-image {
    width: 100px; 
    height: 200px;
}

}